{% extends "base.html" %}

{% block title %}Straipsniai{% endblock %}

{% block content %}
<h1>Straipsniai</h1>
{% for straipsnis in straipsniai %}
{% if straipsnis['status'] == 'published' %}
<h3>{{ straipsnis['pavadinimas'] }}</h3>
<p>{{ straipsnis['data'] }}, {{ straipsnis['autorius'] }}</p>
<hr>
<p>{{ straipsnis['tekstas'][:30] }}<a href="{{ url_for('article', id=straipsnis['id']) }}">...skaityti toliau</a></p>
<button class="btn"><a href="{{ url_for('delete_article', id=straipsnis['id']) }}">IŠTRINTI</a></button>
<hr>
{% else %}
<h3>{{ straipsnis['pavadinimas'] }} - <i>Publikavimas laikinai išjungtas</i></h3>
<br><br>
{% endif %}
{% endfor %}
<h4><a href="{{ url_for('add_article') }}"> Rašyti straipsnį</a></h4>
{% endblock %}
