{% extends "base.html" %}

{% block title %}Tėvai{% endblock %}

{% block content %}

{% if all_parents %}
{% for tevas in all_parents %}
<hr>
<p>{{tevas.vardas}}</p>
<p>{{tevas.pavarde}}</p>
{% if tevas.vaikas %}
<p>Vaikas:</p>
<p>{{tevas.vaikas.vardas}} {{tevas.vaikas.pavarde}}</p>
{% endif %}
<a href="{{ url_for('delete_parent', id=tevas['id']) }}">Ištrinti</a>
<a href="{{ url_for('edit_parent', id=tevas['id']) }}">Redaguoti</a>
{% endfor %}
{% endif %}
<hr>
<p><a href="{{ url_for('new_parent')}}">Naujas tėvas</a></p>

{% endblock %}